input[type=text] {
  width: 273px;
  height: 50px;
  margin-left: 15px;
  margin-top: 10px;
  text-align: right;
  font-size: 20px;
}

Button {
  width: 60px;
  height: 50px;
  margin: 5px;
  box-shadow: 1px 1px 1px #000;
}

#clear, #zero {
  width: 136px;
}

#zero, #decimal {
  margin-top: -125px;
}

#enter {
  height: 120px;
}
